@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.task-summary {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: hidden;
  border: solid 1px $gray;
  margin-bottom: $standard-spacing;

  .task__description{
    flex: 1;
    float: left;
    padding: $standard-spacing;
  }

  .task__title-block {
    display: flex;
  }

  .task__title {
    flex: 1;
  }

  .show-more-link {
    padding: $standard-spacing 0;
    border-bottom: solid 1px $gray;
  }
}

