@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.task-details{
  display: flex;
  min-width: 9 * $standard-spacing;
  flex: 0;
  float: right;
  align-items: center;
  justify-content: center;
}

.duration {
  display: inline-block;
  height: $standard-spacing * 1.25;
  width: 40%;
  line-height: $standard-spacing * 1.25;
  text-align: center;
  background: $primary;

  &.duration--short { background: $color-1 }
  &.duration--long { background: $color-2 }
  &.duration--other { background: $color-3 }
}

.distance {
  display: inline-block;
  width: 60%;
  text-align: center;
}
