@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.cause-page{
  .cause {

  }

  .cause__header {
    background: $top_primary;
    padding: $standard-spacing 0;
  }

  .cause__splash-image.cause__splash-image {
    padding: 0;
  }

  .details-container {
    display: flex;
    justify-content: flex-end;
  }

  .cause__body {

  }

  .cause-list {
    padding-top: $standard-spacing;
  }

}

.cause-info-box {
  position: relative;
  border: solid 1px gray;
  padding: $standard-spacing;
  margin-bottom: $standard-spacing;
  .cause-logo img {
    float: right;
  }
}