@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.cause-page{
  .cause {

  }

  .cause__header {
    background: $top_primary;
  }

  .details-container {
    display: flex;
    justify-content: flex-end;
  }

  .cause__body {

  }

  .cause-list {
    padding-top: $standard-spacing;
  }
}