@import '../Nav/nav';

.page-container {
  .page-content {
    width: 100%;
    padding-top: $nav-height;
  }
}

// PAGE ANIMATIONS
.page-transition-appear {
  opacity: 0;
}

.page-transition-appear.page-transition-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.page-transition-enter {
  position: absolute;
  z-index: 1;
  top: 0;
  opacity: 0.01;
}

.page-transition-enter.page-transition-enter-active {
  position: absolute;
  z-index: 1;
  top: 0;
  opacity: 1;
  transition: opacity 120ms ease-in;
}

.page-transition-leave {
  position: relative;
  opacity: 1;
  z-index: 0;
}

.page-transition-leave.page-transition-leave-active {
  position: relative;
  z-index: 0;
  opacity: 0.01;
  transition: opacity 120ms ease-in;
}
