@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.splash-page {
  .splash-hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 390px;
    background-color: $primary;
    padding: $standard-spacing;
    align-items: center;
    justify-content: center;
  }

  .hero-text {

  }
}
