@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.task-page{
  .task {

  }

  .task__header {
    background: $top_primary;
    padding: $standard-spacing 0;
  }

  .details-container {
    display: flex;
    justify-content: flex-end;
  }

  .task__body {

  }
}