$primary: #3d25ba;
$secondary: #5533ff;
$accent: #24b47e;
$highlight: #08ceff;

$color-1: #08ceff;
$color-2: #fbb03b;
$color-3: #24b47e;

$white: #FEFEFF;
$gray: #f2f2f2;
$black: #020008;
$warning: #E6FB23;
$error: #FA180A;

$degrees: (900: -44%, 800: -33%, 700: -22%, 600: -11%, 500: 0%, 400: 10%, 300: 20%, 200: 30%, 100: 40%, 50: 45%);

@function get-color($color, $degree: 500) {
  @return adjust-color($color, $lightness: map-get($degrees, $degree))
};
