@import '../abstracts/variables';
@import '../vendors/include-media';

$column-sizes: (1, 2, 3, 4, 5, 12);

@include im-columns($column-sizes...); //generates classes for columns

.u-clearfix{
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

.col,
[class^="col--"],
[class*=" col--"]{
  float: left;
}

.row{
  @extend .u-clearfix;
  width: 100%;
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
}

.row--centered{
  text-align: center;

  >[class^="col--"],
  >[class*=" col--"],
  >.row{
    display: inline-block;
    vertical-align: top;
    float: initial;
    //HACK inline-block adds whitespace which negative margins removes
    margin-left: -4px;
    margin-right: -4px;
  }
}

.row--left-aligned{
  text-align: left;

  >[class^="col--"], >[class*=" col--"], >.row{
    display: inline-block;
    vertical-align: top;
    float: left;
    //HACK inline-block adds whitespace which negative margins removes
    margin-left: -4px;
    margin-right: -4px;
  }
}

.row--right-aligned{
  text-align: right;

  >[class^="col--"], >[class*=" col--"], >.row{
    display: inline-block;
    vertical-align: top;
    float: right;
  }
}

.row--padded {
  padding: 0 $standard-spacing;
  >.col,
  >[class^="col--"],
  >[class*=" col--"]{
    padding: $standard-spacing 0;
  }
}

@include media('>sm') {
  .row--padded {
    >.col,
    >[class^="col--"],
    >[class*=" col--"]{
      padding: $standard-spacing;
    }
  }
}

.col--padded {
  padding: $standard-spacing $standard-spacing * 2;
}

.col--padded+.col--padded {
  padding-left: 0;
}
