$i: 0; //index to track through loop
@each $breakpointName, $breakpointUnit in $breakpoints{
  // hide at all breakpoints
  .u-hide{
    display: none !important;
  }
  // hide only at that breakpoint
  .u-hide\@#{$breakpointName}{
    @if $i > 0{
      $lowerLimit: '>' + nth(nth($breakpoints, $i), 1); //returns a list, e.g. small 500px
      @include media('<=' + $breakpointName, $lowerLimit){
        display: none !important;
      }
    }
    @else{
      @include media('<=' + $breakpointName){
        display: none !important;
      }
    }
  }

  //hide greater than breakpoint
  .u-hide\@gt-#{$breakpointName}{
    @include media('>' + $breakpointName){
      display: none !important;
    }
  }

  //hide less than breakpoint
  .u-hide\@lt-#{$breakpointName}{
    @include media('<=' + $breakpointName){
      display: none !important;
    }
  }

  // increment index
  $i: $i + 1;
}