@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.address-picker {
  background: $gray;
  margin-bottom: $standard-spacing;
  padding: 2 * $standard-spacing 0;
}

.input-container {
  display: inline-block;
}

.input {
  height: 42px;
  margin: 0 10px;
  padding: 10px;
  width: 200px;
}
