@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/colors';

.footer {
  position: relative;
  width: 100%;
  background: get-color($primary, 800);
  .text.light {
    color: get-color($primary, 200);
  }
}