@import '../../scss/abstracts/variables';
@import '../../scss/abstracts/colors';

.footer {
  position: relative;
  width: 100%;
  height: 8 * $standard-spacing;
  background: get-color($primary, 800);
}