@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

$nav-height: 70px;

.nav {
  position: fixed;
  top: 0;
  height: $nav-height;
  width: 100%;
  background-color: $primary;
  color: $white;
  z-index: 10;

  .back-button {
    float: left;
    height: 100%;
  }

  .links {
    float: right;
    height: 100%;
  }

  .link {
    display: inline-block;
    height: 100%;
    padding: 0 $standard-spacing;
    line-height: $nav-height;

    &:hover {
      text-decoration: underline;
    }
  }
}
