@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';
@import '../../scss/vendors/include-media';

$mobile-nav-height: 56px;
$nav-height: 70px;

.nav {
  z-index: 10;
  position: relative;
  height: $mobile-nav-height;
  width: 100%;
  padding: 0 $standard-spacing;
  color: $accent;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0.25+0,0.25+0,0+100;White+to+Transparent */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

  .top-nav {
    opacity: 0.95;
  }

  .nav__bottom-border {
    width: 100%;
    float: left;
    border-bottom: solid 1px #f0f0f5;
  }

  .back-button {
    display: flex;
    float: left;
    height: $mobile-nav-height;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
  }

  .links {
    float: right;
    height: 100%;
  }

  .link {
    display: inline-block;
    height: 100%;
    padding: 0 1rem;
    line-height: $mobile-nav-height;

    &.link--is-active {
      color: $highlight;
      cursor: pointer;
    }

    &:hover {
      text-decoration: underline;
      color: $blue;
    }
  }

  .logo {
    height: 40px;
    mix-blend-mode: multiply;
  }
}

@include media('>=md') {
  .nav {
    height: $nav-height;

    .back-button{
      height: $nav-height;
    }

    .link {
      line-height: $nav-height;
    }

    .logo {
      height: 60px;
    }
  }
}
