@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.pull-out-menu-container {
  .pull-out-menu {
    position: fixed;
    height: 100%;
    width: 80%;
    width: calc(100vw - 56px);
    top: 0;
    left: 0;
    background: $white;
    z-index: 20;
    // transform: translate3d(-120%, 0, 0);

    // &.pull-out-menu--is-showing {
    //   transform: translate3d(0, 0, 0);
    // }
  }

  .mobile-link {
    display: block;
    height: 56px;
    line-height: 56px;
    width: 100%;
    padding-left: 2rem;
  }

  .mobile-link:nth-child(2n) {
    background: get-color($primary, 400);
  }

  .mobile-link--is-active {
    padding-left: 1rem;
    border-width: 0 0 0 1rem;
    border-style: solid;
    border-color: $highlight;
  }

  .close-button {
    height: 56px;
    line-height: 56px;
    width: 100%;

    .icon {
      position: absolute;
      right: 1rem;
    }
  }

  .page-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba($black, 0.5);
  }
}
