@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';
@import '../../scss/base/reset-forms';
@import '../../scss/vendors/include-media';

.disabled-notification {
  display: none;
  position: absolute;
  background: #332f2f;
  bottom: 1.75 * $standard-spacing;
  width: 210px;
  color: white;
  border-radius: 3px;
  height: 2.4rem;
  line-height: 2.4rem;
  left: 50%;
  margin-left: -105px;
  user-select: none;
}

.button {
  @include form-reset-button;
  display: block;
  position: relative;
  width: 100%;
  height: 1.5 * $standard-spacing;
  line-height: 1.5 * $standard-spacing;
  background: $blue;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background: get-color($accent, 600);
    .disabled-notification { display: block; }
  }
  &:active { background: get-color($accent, 700); }
}
.button--address{
  color: $accent;
}
.button--small {
  height: 1.25 * $standard-spacing;
  line-height: 1.25 * $standard-spacing;
  width: auto;
  padding: 0 $standard-spacing;
}

.button--secondary {
  background: $gray;
  &:hover { background: get-color($gray, 600); }
  &:active { background: get-color($gray, 700); }
}

.button--highlighted {
  background: $highlight;
  &:hover { background: get-color($highlight, 600); }
  &:active { background: get-color($highlight, 700); }
}

.button--is-disabled {
  background: get-color($accent, 200);
  color: get-color($gray, 700);
  cursor: not-allowed;
  &:hover { background: get-color($accent, 200); }
  &:active { background: get-color($accent, 200); }
}

.button--colorless {
  background: rgba($white, 0.9);
  border: solid 1px rgba($gray, 0.8);

  &:hover {
    background: rgba($gray, 0.8);
    border: solid 1px transparent;
  }

  &:active {
    background: rgba($gray, 0.5);
    border: solid 1px transparent;
  }
}

@include media('>sm') {
  .button {
    display: block;
    width: 130px;
    margin: 0 auto;
  }

  .button--is-loading {
    padding-right: 28px;
  }
}

@include media('>md') {
  .button {
    display: inline-block;
  }
  .input-container+.button,
  .input-container+a {
    display: inline-block;
    margin-left: 0.5rem;
  }
}