@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';
@import '../../scss/base/reset-forms';
@import '../../scss/vendors/include-media';

.button {
  @include form-reset-button;
  display: block;
  width: 100%;
  height: 1.5 * $standard-spacing;
  background: $accent;
  cursor: pointer;

  &:hover { background: get-color($accent, 600); }
  &:active { background: get-color($accent, 700); }
}

.button--small {
  height: 1.25 * $standard-spacing;
  width: auto;
  padding: 0 $standard-spacing;
}

.button--secondary {
  background: $gray;
  &:hover { background: get-color($gray, 600); }
  &:active { background: get-color($gray, 700); }
}

.button--highlighted {
  background: $highlight;
  &:hover { background: get-color($highlight, 600); }
  &:active { background: get-color($highlight, 700); }
}

.button--colorless {
  background: rgba($white, 0.9);
  border: solid 1px rgba($gray, 0.8);

  &:hover {
    background: rgba($gray, 0.8);
    border: solid 1px transparent;
  }

  &:active {
    background: rgba($gray, 0.5);
    border: solid 1px transparent;
  }

}

@include media('>sm') {
  .button {
    width: 130px;
    margin: 0 auto;
  }

  .input-container+.button,
  .input-container+a {
    display: inline-block;
    margin-left: 0.5rem;
  }
}

@include media('>md') {
  .button {
    display: inline-block;
  }
}