@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.cause-info-box {
  position: relative;
  border: solid 1px gray;
  padding: $standard-spacing;
  margin-bottom: $standard-spacing;
  .cause-logo img {
    float: right;
  }
}