@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';
@import '../../scss/base/reset-forms';
@import '../../scss/vendors/include-media';

.input-container{
  display: inline-block;
  margin-bottom: $standard-spacing;
  width: 100%;

  .input {
    @include form-reset-input;
    position: relative;
    background: $white;
    display: inline-block;
    height: 1.5 * $standard-spacing;
    width: 100%;
    border: solid 1px rgba($black, 0.2);
    padding: 0 1rem;
  }

  .input-label {
    display: block;
    margin: 0 0.5rem;
  }

}

@include media('>=sm') {
  .input-container {
    display: inline-block;
    width: auto;

    .input-label {
      width: 100px;
      display: inline-block;
      text-align: right;
    }

    .input {
      width: 300px;
    }
  }
}

@include media('>=md') {
  .input-container {
    width: auto;
    margin-bottom: 0;
    display: inline-block;

    .input-label {
      width: auto;
      display: inline-block;
    }

    .input {
      width: 350px;
    }

    .input--short {
      width: 150px;
    }
  }
}
