@import '../../scss/abstracts/colors';

.header {

}

.label {

}

.body {

}

.primary {
  color: $black;
}

.accent {
  color: $accent;
}

.inverse {
  color: $white;
}

.light {
  color: $gray;
}

.normal {

}

.bold {
  font-weight: 700;
}