@import '../../scss/abstracts/colors';
@import '../../scss/abstracts/variables';

.text.display-block {
  display: block;
}

.text.remove-bottom-margin {
  margin-bottom: 0;
}

.text.header {

}

.text.label {

}

.text.body {

}

.text.left { text-align: left; }
.text.center { text-align: center; }
.text.right { text-align: right; }

.text.primary {
  color: $black;
}

.text.highlight {
  color: $highlight;
}

.text.accent {
  color: $accent;
}

.text.inverse {
  color: $white;
}

.text.light {
  color: get-color($gray, 900);
}

.text.normal {

}

.text.bold {
  font-weight: 700;
}

.text.block-quote {
  padding: $standard-spacing;
  background: get-color($highlight, 50);
}
