@import '../../scss/abstracts/colors';
.display-block {
  display: block;
}

.remove-bottom-margin.remove-bottom-margin {
  margin-bottom: 0;
}

.header {

}

.label {

}

.body {

}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.primary {
  color: $black;
}

.accent {
  color: $accent;
}

.inverse {
  color: $white;
}

.light {
  color: get-color($gray, 900);
}

.normal {

}

.bold {
  font-weight: 700;
}